* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  background-color: #f5f5f0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f0;
  width: 100%;
  align-items: center;
  padding: 0.5rem 10rem;
  position: fixed;
  top: 0;
}
header ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  color: rgb(84, 83, 83);
}
header a {
  text-decoration: none;
  color: #000000bb;
}
#header__cta {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#header__cta button {
  padding: 9px 20px;
  border-radius: 30px;
  border: 0.5px solid rgba(124, 124, 124, 0.567);
  cursor: pointer;
}
.blackButton {
  background-color: #000000df;
  color: #fff;
  cursor: pointer;
}
.blackButton:hover {
  background-color: #000000;
}

main {
  padding-top: 10.6rem;
  width: 80%;
  margin: auto;
}
#heroSection h1 {
  font-size: 1.5rem;
  font-weight: 400;
}
#heroSection button {
  margin-top: 1rem;
  border-radius: 30px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}
#heroImage {
  width: 100%;
  border-radius: 20px;
}
#trustedBy__heading {
  color: gray;
  text-align: center;
  margin-top: 2rem;
}
#trustedBy {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 6rem;
}
#trustedBy img {
  padding: 1.5rem 2rem;
  color: #000;
  background-color: #f2f1ed;
  width: 10%;
}
.feature__container {
  display: grid;
  gap: 5rem;
}
.feature,
.team {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  background-color: #f0efeb;
  padding: 1rem;
  margin: 1rem;
}
.feature h3 {
  padding: 0rem 7rem 0 0;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.feature span {
  font-weight: 600;
}
.feature p {
  color: #f6794e;
}
.feature img,
.team img,
.feature video {
  width: 60%;
  border-radius: 10px;
}

#testimonial {
  min-height: 60vh;
  margin-top: 6rem;
  text-align: center;
}

#testimonial h3 {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 4rem;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 10rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  text-align: left;
  background-color: #f2f1ed;
}
.card__content {
  color: #383838;
  margin-bottom: 2rem;
}

.card__person {
  display: flex;
  align-items: end;
  font-size: 0.7rem;
  gap: 0.5rem;
  margin-top: 4rem;
}
.card__person h2 {
  font-weight: 100;
}
.card__person p {
  color: rgba(128, 128, 128, 0.826);
}
.card__person img {
  width: 30px;
}
.card__person > div {
  text-align: left;
}
.card__content {
  font-weight: 100;
}
#useCases {
  margin-bottom: 4rem;
}
#useCases h2 {
  font-weight: 100;
}

.useCases__cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}
.useCases__card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: left;
  background-color: #f2f1ed;
  gap: 1rem;
}
.useCases__card a {
  color: #f6794e;
  text-decoration: none;
}
.useCases__card span {
  font-weight: 300;
}

#changelog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 10rem;
}
#changelog div {
  background-color: #f2f1ed;
  padding: 1rem 2rem;
}
#changelog div p:first-child {
  color: #6f6e6e;
  margin-bottom: 1rem;
}
#changelog span {
  border: 1px solid gray;
  padding: 3px 6px;
  border-radius: 50%;
}
#changelog a {
  color: #f6794e;
  text-decoration: none;
}
#changelog a:hover {
  color: #f57e56;
}
.team {
  padding-left: 2rem;
  margin-bottom: 10rem;
}
.team p {
  font-size: 1.3rem;
  font-weight: 100;
  margin-bottom: 1rem;
}
.team a {
  color: #f6794e;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.team img {
  width: 70%;
}

#recents {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  background-color: #f2f1ed;
  padding: 4rem 10rem;
}
#recents h2 {
  width: 50%;
  font-size: 1rem;
  color: #0000008b;
}
#recents .highlights {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 20rem 0 0;
}
.highlights div {
  background-color: #ebeae5;
  padding: 2rem 1rem;
  color: rgb(80, 80, 80);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tryCursor {
  min-height: 30vh;
  display: grid;
  place-content: center;
  padding-top: 4rem;
}
.tryCursor h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 2rem;
}
.tryCursor button {
  width: 70%;
  border-radius: 40px;
  margin: auto;
  padding: 1rem 2rem;
  font-size: 1rem;
}
footer {
  margin-top: 10rem;
  padding: 6rem 12rem 2rem 7rem;
  min-height: 40vh;
  background-color: #f2f1ed;
}

footer #navigationLinks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
  justify-items: center;
}
footer ul {
  list-style: none;
  line-height: 2rem;
}

footer ul li:first-child {
  color: gray;
}
footer a {
  text-decoration: none;
  color: #0000009f;
}

#footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  color: gray;
  padding-left: 4rem;
}
