* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  background-color: #f8f8f8;
}

header {
  width: 100%;
  color: rgba(255, 255, 255, 0.874);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  font-weight: 500;
  position: sticky;
  top: 0%;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(15.5px);
  z-index: 100;
  -webkit-backdrop-filter: blur(15.5px);
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 7rem;
  max-width: 80vw;
  width: 100%;
  margin: 0 auto;
  gap: 11rem;
}
nav {
  display: flex;
  justify-content: end;
  gap: 3rem;
  width: 100%;
}
nav ul {
  display: flex;
  padding: 0.5rem 1rem;
  gap: 2rem;
  list-style: none;
  font-size: 0.9rem;
}
main {
  min-height: 100vh;
  width: 100vw;
  padding-bottom: 4rem;
  border-bottom: 1px solid #8585855d;
}

#headerContactButton {
  padding: 0.5rem 1.2rem;
  background-color: rgba(128, 128, 128, 0.068);
  color: white;
  border: 1px solid gray;
  border-radius: 40px;
  letter-spacing: 0.9px;
}
#headerCTA {
  padding: 0.5rem 1.2rem;
  background-color: white;
  color: black;
  border: 1px solid gray;
  border-radius: 40px;
  letter-spacing: 0.6px;
}
main {
  padding-top: 5rem;
}
/* Hero Section */
#hero {
  width: 100%;
  min-height: 100vh;
  background: url("./public/hero.svg");
  background-size: cover;
  background-position: right center;
  margin-top: -10%;
  padding: 6rem 0rem;
}
.hero__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 2rem;
  width: 100%;
}
#hero a {
  text-decoration: none;
  color: white;
  background-color: rgba(58, 58, 58, 0.28);
  padding: 0.1rem 0.4rem;
  width: 22%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 0.9rem;
}
#span--new {
  background: green;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  font-weight: 100;
}
#span--arrow {
  background: white;
  color: black;
  padding: 2px 4px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  font-weight: 100;
  font-size: 10px;
}
#hero h1 {
  color: white;
  line-height: 5rem;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 1.1px;
}
#hero p {
  font-size: 1.1rem;
  color: rgb(237, 237, 237);
  width: 35%;
  line-height: 1.8rem;
  margin: auto;
  font-weight: 100;
}

#hero #heroCTA {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22%;
  border-radius: 40px;
  margin: auto;
  background-color: rgba(176, 176, 176, 0.42);
}
#heroCTA input {
  border: none;
  background-color: transparent;
  padding: 1rem;
  color: white;
  border-radius: 40px;
  width: 70%;
}
#heroCTA input::placeholder {
  color: rgba(255, 255, 255, 0.646);
}
#heroCTA button {
  padding: 5px 6px;
  color: black;
  border-radius: 40px;
  border: none;
  width: 25%;
  font-size: 1rem;
  font-weight: 100;
}
#documentationSnapshot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  border-radius: 20px;
}
#companyPartner {
  min-height: 10vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 26rem auto 0rem;
  width: 100%;
  max-width: 50%;
  gap: 4rem;
  column-gap: 6rem;
}

#companyPartner img {
  width: 8rem;
  height: 2rem;
}
#feature {
  text-align: center;
  width: 60%;
  margin: 10rem auto 0rem;
}
#feature h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
#feature p {
  color: rgb(96, 96, 96);
  letter-spacing: 1px;
  margin-bottom: 4rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#lastVideoCard {
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 600px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  width: 100%;
  padding: 2rem 2rem;
  height: 550px;
  border: 0.5px solid rgba(128, 128, 128, 0.248);
  border-radius: 20px;
}
.card span {
  color: rgb(1, 139, 1);
}
.card h3 {
  font-size: 1.1rem;
  font-weight: 400;
}
.card p {
  width: 80%;
  text-align: left;
  font-size: 1rem;
}
.card video {
  margin-top: -2rem;
  border: 0px;
  border-style: none;
}

.card:last-child video {
  margin-top: -3rem;
}

#enterpriseFeature {
  background: #f2f1f1;
  min-height: 100vh;
  text-align: left;
  width: 100%;
  margin: 10rem auto 6rem;
  padding: 7rem 20rem;
}
#enterpriseFeature span {
  text-transform: uppercase;
  color: rgb(1, 139, 1);
  letter-spacing: 1.1px;
  font-weight: 100;
  display: block;
  margin-bottom: 1rem;
}
#enterpriseFeature h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
#explore--div {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 10rem;
  margin-bottom: 3rem;
}
#enterpriseFeature p {
  color: rgb(96, 96, 96);
  letter-spacing: 0.21px;
}

#enterpriseFeature button {
  background-color: #000;
  padding: 10px 30px;
  color: #fff;
  letter-spacing: 1.1px;
  border-radius: 20px;
}

.enterprise--card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  width: 100%;
  padding: 2rem 2rem;
}

#anthropic--storyDiv {
  margin-top: 10rem;
  width: 100%;
  background: url("./public/Story/background.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 0.75rem;
  gap: 1rem;
  padding: 4rem 2rem;
  color: #fff;
  border-radius: 30px;
  height: 31rem;
  filter: brightness(100%);
  transition: filter 0.3s ease-in-out;
  cursor: pointer;
}
#anthropic--storyDiv:hover {
  filter: brightness(90%); /* Increase contrast on hover */
}
#anthropic--storyDiv h2 {
  font-size: 1.5rem;
}
#anthropic--storyDiv a {
  color: white;
  text-decoration: none;
}
#anthropic--storyDiv p {
  color: #ffffffcc;
  margin-bottom: 1rem;
}
.stats--container {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

#feature--companies {
  min-height: 10vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4rem;
  column-gap: 6rem;
  padding: 2rem 4rem;
}

#feature--companies img {
  width: 8rem;
  height: 2rem;
  filter: grayscale();
}

#stories {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
}

#stories span {
  text-transform: uppercase;
  color: rgb(1, 139, 1);
  letter-spacing: 1.1px;
  font-weight: 100;
  display: block;
  margin-bottom: 1rem;
}

#stories h2 {
  font-size: 2.3rem;
  margin-bottom: 2rem;
}
#stories > p {
  text-align: center;
  margin-bottom: 2rem;
}
.carousel {
  display: flex;
  overflow-x: scroll;
  width: 100vw;
  gap: 1rem;
}
.carousel__cardImage,
#invisibleCard {
  width: 400px;
  height: 300px;
  padding: 8rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#perplexityCard {
  background: url("./public/Story/perplexity.png");
  background-size: cover;
  background-position: center;
}
#xCard {
  background: url("./public/Story/x.png");
  background-size: cover;
  background-position: center;
}
#kCard {
  background: url("./public/Story/kalshi.png");
  background-size: cover;
  background-position: center;
}
#invisibleCard {
  visibility: hidden;
}
.carousel__card {
  width: 500px;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.61rem;
  filter: brightness(100%);
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}
.carousel__card:hover {
  filter: brightness(80%);
}

.carousel__card p {
  width: 100%;
  text-align: justify;
  color: rgb(77, 77, 77);
}
.carousel__card a {
  color: rgb(84, 84, 84);
  text-decoration: none;
}
.carousel__card a:hover {
  color: green;
}
#carousel__button {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#carousel__button button {
  padding: 4px 8px;
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 200;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  margin-bottom: 2rem;
}

#carousel__button button:first-child {
  background-color: gray;
}

#finalCall {
  min-height: 60vh;
  text-align: center;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
#finalCall h2 {
  font-size: 2.5rem;
}
#finalCall p {
  color: rgb(105, 104, 104);
}

#finalCall .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 6rem;
}
#finalCall button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 40px;
  background-color: #fff;
  border: 0.4px solid gray;
  color: #313131;
}
#finalCall button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 40px;
}
#finalCall button:first-child {
  background-color: #000;
  color: #fff;
}

#finalCall__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 300px;
}
#finalCall__cards div:first-child {
  border-right: 1px solid rgba(180, 180, 180, 0.275);
}
#finalCall__cards div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.finalCall__image__div {
  border-radius: 50%;
  padding: 50px;
  border: 1px solid rgba(207, 205, 205, 0.317);
}
#finalCall__cards a {
  text-decoration: none;
  color: gray;
  display: flex;
  gap: 1rem;
}
#finalCall__cards a:hover {
  color: rgb(1, 101, 1);
}

footer {
  padding: 4rem 0rem;
  min-height: 60vh;
  margin: auto;
  width: 70%;
  border-left: 1px solid rgba(207, 205, 205, 0.317);
  border-right: 1px solid rgba(207, 205, 205, 0.317);
}

footer .logos {
  display: flex;
  padding: 0.5rem 2rem 0rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #93939330;
}

footer #socialLinks {
  display: flex;
  gap: 1rem;
}

footer #externalLinks {
  display: grid;
  padding: 3rem 3rem;
  column-gap: 5rem;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid #93939330;
}
footer ul {
  line-height: 2.2rem;
  list-style: none;
  font-size: 1rem;
  cursor: pointer;
}

footer ul li:first-child {
  color: rgba(89, 89, 89, 0.596);
}

footer #backedByDiv {
  color: rgb(89, 89, 89);
  padding: 3rem 4rem;
  border-bottom: 1px solid #93939330;
  display: flex;
  align-items: center;
  gap: 0.51rem;
}

footer #copyright {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  align-items: center;
  color: rgb(89, 89, 89);
  padding: 3rem 4rem;
}
footer #copyright p:first-child {
  background-color: rgba(150, 148, 148, 0.151);
  padding: 6px 14px;
  font-weight: 500;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 6px;
}
