* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  width: 100%;
  color: rgba(255, 255, 255, 0.874);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  font-weight: 500;
  position: sticky;
  top: 0%;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(15.5px);
  z-index: 100;
  -webkit-backdrop-filter: blur(15.5px);
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 7rem;
  max-width: 80vw;
  width: 100%;
  margin: 0 auto;
  gap: 11rem;
}
nav {
  display: flex;
  justify-content: end;
  gap: 3rem;
  width: 100%;
}
nav ul {
  display: flex;
  padding: 0.5rem 1rem;
  gap: 2rem;
  list-style: none;
  font-size: 0.9rem;
}
main {
  min-height: 100vh;
  width: 100vw;
}

#headerContactButton {
  padding: 0.5rem 1.2rem;
  background-color: rgba(128, 128, 128, 0.068);
  color: white;
  border: 1px solid gray;
  border-radius: 40px;
  letter-spacing: 0.9px;
}
#headerCTA {
  padding: 0.5rem 1.2rem;
  background-color: white;
  color: black;
  border: 1px solid gray;
  border-radius: 40px;
  letter-spacing: 0.6px;
}
main {
  padding-top: 5rem;
}
/* Hero Section */
#hero {
  width: 100%;
  min-height: 100vh;
  background: url("./public/hero.svg");
  background-size: cover;
  background-position: right center;
  margin-top: -10%;
  padding: 6rem 0rem;
}
.hero__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 2rem;
  width: 100%;
}
#hero a {
  text-decoration: none;
  color: white;
  background-color: rgba(58, 58, 58, 0.28);
  padding: 0.1rem 0.4rem;
  width: 22%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 0.9rem;
}
#span--new {
  background: green;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  font-weight: 100;
}
#span--arrow {
  background: white;
  color: black;
  padding: 2px 4px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  font-weight: 100;
  font-size: 10px;
}
#hero h1 {
  color: white;
  line-height: 5rem;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 1.1px;
}
#hero p {
  font-size: 1.1rem;
  color: rgb(237, 237, 237);
  width: 35%;
  line-height: 1.8rem;
  margin: auto;
  font-weight: 100;
}

#hero #heroCTA {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22%;
  border-radius: 40px;
  margin: auto;
  background-color: rgba(176, 176, 176, 0.42);
}
#heroCTA input {
  border: none;
  background-color: transparent;
  padding: 1rem;
  color: white;
  border-radius: 40px;
  width: 70%;
}
#heroCTA input::placeholder {
  color: rgba(255, 255, 255, 0.646);
}
#heroCTA button {
  padding: 5px 6px;
  color: black;
  border-radius: 40px;
  border: none;
  width: 25%;
  font-size: 1rem;
  font-weight: 100;
}
#documentationSnapshot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  border-radius: 20px;
}
#companyPartner {
  min-height: 10vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 26rem auto 0rem;
  width: 100%;
  max-width: 50%;
  gap: 4rem;
  column-gap: 6rem;
}

#companyPartner img {
  width: 8rem;
  height: 2rem;
}
#feature {
  text-align: center;
  width: 60%;
  margin: 10rem auto 0rem;
}
#feature h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
#feature p {
  color: rgb(96, 96, 96);
  letter-spacing: 1px;
  margin-bottom: 4rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#lastVideoCard {
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 600px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  width: 100%;
  padding: 2rem 2rem;
  height: 550px;
  border: 0.5px solid rgba(128, 128, 128, 0.426);
  border-radius: 20px;
}
.card span {
  color: rgb(1, 139, 1);
}
.card h3 {
  font-size: 1.1rem;
  font-weight: 400;
}
.card p {
  width: 60%;
  text-align: left;
  line-height: 1.2rem;
  font-size: 1rem;
}
.card video {
  margin-top: -2rem;
  border: 0px;
  border-style: none;
}

.card:last-child video {
  margin-top: -5rem;
}

#enterpriseFeature {
  background: #f2f1f1;
  min-height: 100vh;
  text-align: left;
  width: 100%;
  margin: 10rem auto;
  padding: 7rem 20rem;
}
#enterpriseFeature span {
  text-transform: uppercase;
  color: rgb(1, 139, 1);
  letter-spacing: 1.1px;
  font-weight: 100;
  display: block;
  margin-bottom: 1rem;
}
#enterpriseFeature h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
#explore--div {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 10rem;
  margin-bottom: 3rem;
}
#enterpriseFeature p {
  color: rgb(96, 96, 96);
  letter-spacing: 0.21px;
}

#enterpriseFeature button {
  background-color: #000;
  padding: 10px 30px;
  color: #fff;
  letter-spacing: 1.1px;
  border-radius: 20px;
}

.enterprise--card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  width: 100%;
  padding: 2rem 2rem;
}
